body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.89)), url('/images/pawel-czerwinski-6lQDFGOB1iw-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.outer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.wrapper {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper::-webkit-scrollbar {
  height: 12px;
}

.wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.card {
  scroll-snap-align: center;
  box-sizing: border-box;
  padding: 20px 30px;
  flex-shrink: 0;
  width: 300px;
  background-color: white;
  border-radius: 14px;
  text-align: center;
}